.mario {
  width: 68px;
  height: 68px;
  display: block;
  position: relative;
  background: url('../images/mario-walk-n-jump-68.png');
/*  background-position: -68px top;*/;
  animation: walk .9s steps(1)  infinite;
}
@keyframes walk {
  0%{ background-position:   0px top;}
  25%{ background-position:  -68px top;}
  75%{ background-position:  -136px top;}
  100%{ background-position:  -204px top;}
}
.path {
  width: 68px;
  height: 68px;
  display: block;
  position: absolute;
  top: 200px;
  animation: path 3s linear infinite;
}
@keyframes path{
  0%{
    left: -68px; top;
  }
  25%{
    left: 30%;
    top: 200px;
  }
  50%{
    left:50%;
    top: 150px;
  }
  55%{
    left: 56%;
    top: 200px;
  }
  100%{
    left: 100%;
  }
}
.blast {
  width: 151px;
  height: 151px;
  display: block;
  position: absolute;
  background: url('../images/blast-151.png');
/*  background-position: -68px top;*/;
  left: 50%;
  animation: blast 1s steps(1)  infinite;
  animation-play-state: paused; /*При наведении остановка*/
}
.blast:hover {
  animation-play-state: running;
}
@keyframes blast {
  0%{ background-position:   0px 0px;}
  3%{ background-position:  -151px 0px;}
  6%{ background-position:  -302px 0px;}
  9%{ background-position:  -204px 0px;}
  12%{ background-position:   -453px 0px;}
  15%{ background-position:  -604px 0px;}
  18%{ background-position:  -755px 0px;}
  21%{ background-position:  -px top;}
  24%{ background-position:   0px 0px;}
  27%{ background-position:  -px top;}
  30%{ background-position:  -px top;}
  33%{ background-position:  -px top;}
  36%{ background-position:   0px top;}
  39%{ background-position:  -px top;}
  42%{ background-position:  -px top;}
  45%{ background-position:  -px top;}
}
